<div class="card mb-4 mx-3" (click)="goToDetails()">
  <div class="card-header-img position-relative">
    <img src="https://picsum.photos/300/200" class="card-img-top img-fluid" alt="" loading="lazy">
    <!-- <img src="assets/img/imagen.png" class="card-img-top img-fluid" alt="" loading="lazy"> -->
    <button type="button" class="btn-actions btn-fav-add btn btn-outline-dark rounded-circle position-absolute border-0" (click)="$event.stopPropagation(); favoriteAdd()">
      <fa-icon [icon]="icons.favAdd"></fa-icon>
    </button>
    <button type="button" class="btn-actions btn-cart-plus btn btn-outline-dark rounded-circle position-absolute border-0" (click)="$event.stopPropagation(); addCartFn()">
      <fa-icon [icon]="icons.cartPlus"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <span class="badge badge-category mb-2">Depotivo</span>
    <h5 class="card-title">$ 250</h5>
    <p class="card-text text-ellipsis-2">Nombre del producto</p>
  </div>
</div>
