<div class="container-product-details container-center d-flex flex-column mb-3">
  <div class="container-header my-4 d-flex align-items-center">
    <button
      class="btn btn-outline-secondary rounded-circle me-2"
      (click)="goBack()"
    >
      <fa-icon [icon]="icons.back"></fa-icon>
    </button>
    <span class="page-title">Detalles del producto</span>
  </div>
  <div class="card card-details col-12 col-md-8 align-self-center">
    <div class="row g-0">
      <div class="col-md-4 container-img d-flex align-items-center">
        <img
          [src]="product.image"
          class="img-fluid rounded-start mx-auto"
          alt=""
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <span class="badge badge-category mb-2">{{ product.category }}</span>
          <p class="card-text text-price">$ {{ product.price.toFixed(2) }}</p>
          <p class="card-text mb-5">{{ product.description }}</p>
          <div class="d-flex justify-content-end flex-column flex-sm-row">
            <button
              class="btn btn-outline-success me-sm-2 mb-2 mb-sm-0"
              [title]="
                productAddFav ? 'Quitar de favoritos' : 'Agregar a favoritos'
              "
              (click)="setProductToFavorite()"
            >
              <fa-icon
                [icon]="productAddFav ? icons.favDel : icons.favAdd"
              ></fa-icon>
              Favoritos
            </button>
            <button
              class="btn"
              [ngClass]="{
                'btn-outline-secondary': productAddCart,
                'btn-warning': !productAddCart
              }"
              [title]="
                productAddCart ? 'Quitar del carrito' : 'Agregar al carrito'
              "
              (click)="setProductToCart()"
            >
              <fa-icon [icon]="icons.cartPlus"></fa-icon>
              {{ productAddCart ? 'Remover del carrito' : 'Añadir al carrito' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
