<div class="container-list-product container-center d-flex flex-column">
  <div class="container-header my-4 ms-3 d-flex justify-content-between">
    <div class="container-left">
      <span *ngIf="searchWord.length" class="page-title fw-bolder">Resultado para "{{ searchWord }}"</span>
      <span *ngIf="!searchWord.length" class="page-title fw-bolder">Todos los productos</span>
    </div>
    <div class="container-right">
      <div class="btn-group">
        <button class="btn btn-light bg-transparent border-0 btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ordenar por
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" role="button">Menor precio</a></li>
          <li><a class="dropdown-item" role="button">Mayor precio</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="items row">
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
    <app-card-product class="col-12 col-sm-6 col-md-4 col-lg-3"></app-card-product>
  </div>
</div>