:host {
  .page-title {
    font-size: var(--text-sm-big);
  }
  .list-empty {
    height: 300px;
    width: auto;
    fa-icon {
      font-size: 40px;
    }
  }
  .btn-order {
    color: var(--text-color);
  }
}