:root {
  // text size
  --text-big: 1.25rem;
  --text-sm-big: 1.125rem;
  --text-normal: 1rem;
  --text-small: 0.875rem;
  --text-smaller: 0.75rem;

  // colors
  --header-bg: #457b9d;
  --color-bg: #edf2f4;
  --card-bg: #fff;
  --text-color: #29293d;
  --text-color-light: #52527a;
  --white: #fff;
  --header-bg-hover: #f3d8e0;
  --badge-category-color: #A7C5EB;
  --img-bg: rgba(0,0,0,0.1);
}