:root {
  // text size
  --text-big: 1.25rem;
  --text-sm-big: 1.125rem;
  --text-normal: 1rem;
  --text-small: 0.875rem;
  --text-smaller: 0.75rem;

  body {
    // colors
    --header-bg: #457b9d;
    --color-bg: #edf2f4;
    --card-bg: #fff;
    --text-color: #29293d;
    --white: #fff;
    --badge-category-color: #A7C5EB;
    --badge-category-text-color: #f8f9fa;
    --img-bg: rgba(0,0,0,0.1);
  }
  body.dark-theme {
    // colors
    --header-bg: #2f536a;
    --color-bg: #1d2d44;
    --card-bg: #3e5c76;
    --text-color: #f8f9fa;
    --white: #fff;
    --badge-category-color: #A7C5EB;
    --badge-category-text-color: #293241;
    --img-bg: rgba(0,0,0,0.3);
  }
}
