:root {
  // text size
  --text-big: 1.25rem;
  --text-sm-big: 1.125rem;
  --text-normal: 1rem;
  --text-small: 0.875rem;
  --text-smaller: 0.75rem;

  // colors
  --header-bg: #CD5D7D;
  --color-bg: #F6ECF0;
  --card-bg: #F6ECF0;
  --text-normal: #29293d;
  --text-light: #52527a;
  --white: #fff;
  --header-bg-hover: #f3d8e0;
}