<div class="card card-product mb-3">
  <div class="row g-0">
    <div
      class="product-img col-sm-2 d-flex justify-content-center align-items-center"
    >
      <img
        [src]="product.image"
        class="img-fluid rounded-start"
        alt="foto producto"
      />
    </div>
    <div class="product-info col-sm-10">
      <div class="card-body d-flex">
        <div class="left flex-grow-1">
          <h5 class="card-title" role="button" (click)="goToDetails()">{{ product.title }}</h5>
          <p class="card-text line-clamp-3">
            {{ product.description }}
          </p>
        </div>
        <div class="right ms-2 d-flex flex-column justify-content-between">
          <button
            type="button"
            class="btn-sm btn-cart-plus btn btn-outline-dark border-0 align-self-end"
            title="Quitar del carrito"
            (click)="removeProduct()"
          >
            <fa-icon [icon]="icons.remove"></fa-icon>
          </button>
          <h4 class="text-nowrap">$ {{ product.price.toFixed(2) }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
