:host {
  .card-product {
    height: 152px;
    .product-img {
      img {
        height: 150px;
      }
    }
    .product-info {
      .card-body {
        height: 100%;
      }
    }
  }
  @media (max-width: 576px) {
    .card-product {
      height: auto;
    }
  }
}