/* You can add global styles to this file, and also import other style files */

@import './styles/variables';
@import './styles/components/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg) !important;
  color: var(--text-normal) !important;
}

.container-center {
  display: flex;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
