/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';

@import './styles/variables';
@import './styles/components/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg) !important;
  color: var(--text-color) !important;
}

.container-center {
  display: flex;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.badge-category {
  background-color: var(--badge-category-color) !important;
}

.btn-actions {
  background-color: rgba(0,0,0,0.3) !important;
  color: var(--white) !important;
  width: 30px;
  height: 30px;
  &:hover {
    background-color: rgba(0,0,0,0.7) !important;
  }
  &.prod-add {
    background-color: rgba(0,0,0,0.7) !important;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}